<form>
  <div class="mb-3">
    <label for="Customer Id" class="form-label">Customer Id</label>
    <input class="form-control" type="text" Id="Customer Id" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="Address Id" class="form-label">Address Id</label>
    <input class="form-control" type="text" Id="Address Id" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="Address Line1" class="form-label">Address Line1</label>
    <textarea cols="150" rows="3" aria-label="default input example"></textarea>
  </div>
  <div class="mb-3">
    <label for="Address Line2" class="form-label">Address Line2</label>
    <textarea cols="155" rows="4" aria-label="default input example"></textarea>
  </div>
  <div class="mb-3">
    <label for="Zipcode" class="form-label">Zipcode</label>
    <input class="form-control" type="number" Id="txtnumber" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="city" class="form-label">city</label>
    <input class="form-control" type="text" Id="city" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="state" class="form-label">state</label>
    <input class="form-control" type="text" Id="state" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="country" class="form-label">country</label>
    <input class="form-control" type="text" Id="country" aria-label="default input example">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="chkIsactive">
    <label class="form-check-label" for="exampleCheck1">IsActive</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer Id</th>
      <th scope="col">Address Id</th>
      <th scope="col">Address Line1</th>
      <th scope="col">Address Line2</th>
      <th scope="col">Zipcode</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">country</th>
      <th scope="col">IsActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1000</td>
      <td>1111</td>
      <td>dehri</td>
      <td>dehri</td>
      <td>823424</td>
      <td>DEHRI</td>
      <td>BIHAR</td>
      <td>INDIA</td>
      <td>True</td>
    </tr>
    
  </tbody>
</table>


