<form>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Account Type</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1111">Current</option>
      <option value="1112">Saving</option>
      <option value="1113">NRI</option>
      <option value="1114">NRO</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Account Holder's Name</label>
    <input class="form-control" type="text" placeholder="Account Holder's Name"  aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Account Balance</label>
    <input type="text" class="form-control" id="txtAccntBalance" value="5656" disabled readonly>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Account Opening Date</label>
    <input type="date"
           class="form-control"
           placeholder="Datepicker"
              >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Account Number</label>
    <input type="number" class="form-control" id="txtAccntNumber"  />
  </div>
  <div class="mb-3">
       <label for="exampleInputPassword1" class="form-label">branch name</label>
       <select class="form-select" aria-label="Default select example">
               <option selected>open this select menu</option>
               <option value="101">pnb devkund</option>
               <option value="102">pnb haspura</option>
               <option value="103">pnbgaya</option>
               <option value="104">pnbobra</option>
               </select>
           </div>
<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="chkIsactive">
    <label class="form-check-label" for="exampleCheck1">IsActive</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Account Type</th>
      <th scope="col">Account Holder's Name</th>
      <th scope="col">Account Number</th>
      <th scope="col">Branch Name</th>
      <th scope="col">Account Opening Date</th>
      <th scope="col">IsActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Saving</td>
      <td>Anoj Kumar</td>
      <td>200600010008878</td>
      <td>PNB Haspura</td>
      <td>12/12/2020</td>
      <td>True</td>
    </tr>
    
  </tbody>
</table>


