<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!--<a class="navbar-brand" href="#">Admin Panel</a>-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#home" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account-details" routerLink="/account-details">Account Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#branch-details" routerLink="/branch-details">Branch Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#customer-details" routerLink="/customer-details">Customer Details</a>
      </li>
    </ul>
  </div>
</nav>
