<form>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Branch Name</label>
    <input class="form-control" type="text" placeholder="Branch Name" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Branch code</label>
    <input type="text" class="form-control" placeholder="Branch code" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Branch Ifsc code</label>
    <input type="text" class="form-control" placeholder="Branch Ifsc code" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Branch Address</label>
    <textarea cols="149" rows="2" aria-label="default input example" ></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Branch city</label>
    <input type="text" class="form-control" placeholder="Branch city" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Branch create Date</label>
    <input type="date"
           class="form-control"
           placeholder="Datepicker">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="chkIsactive">
    <label class="form-check-label" for="exampleCheck1">IsActive</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Branch Name</th>
      <th scope="col">Branch code</th>
      <th scope="col">Branch Ifsc code</th>
      <th scope="col">Branch Address</th>
      <th scope="col">Branch Createon Date</th>
      <th scope="col">IsActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>pnb devkund</td>
      <td>12301</td>
      <td>punb0220062</td>
      <td>devkund</td>
      <td>14/03/2022</td>
      <td>True</td>
    </tr>
    
  </tbody>
</table>


