<form>
  <div class="mb-3">
    <label for="Customer Id" class="form-label">Customer Id</label>
    <input class="form-control" type="text" placeholder="Customer Id" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="Account Id" class="form-label">Account Id</label>
    <input type="text" class="form-control" id="txtAccntId" value="1001" disabled readonly>
  </div>
  <div class="mb-3">
    <label for="Address Id" class="form-label">Address Id</label>
    <input class="form-control" type="text" placeholder="Address Id" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="Customer Name" class="form-label">Customer Name</label>
    <input class="form-control" type="text" placeholder="Customer Name" aria-label="default input example">
  </div>
  <div class="mb-3">
    <label for="Customer Dob" class="form-label">Customer DOB</label>
    <input type="date"
           class="form-control"
           placeholder="Datepicker">
  </div>
  <div class="mb-3">
    <label for="Customer Gender" class="form-label">Customer Gender</label>
    <br />Male
    <input type="radio" name="gender" value="male">
     FeMale
    <input type="radio" name="gender" value="male">

  </div>
  <div class="mb-3">
    <label for="Customer Address" class="form-label">Customer Address</label>
    <input type="text"  class="form-control" placeholder="txtAddress" aria-label="default input example"/>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="chkIsactive">
    <label class="form-check-label" for="exampleCheck1">IsActive</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer Id</th>
      <th scope="col">Account Id</th>
      <th scope="col">Address Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Customer DOB</th>
      <th scope="col">Customer Gender</th>
      <th scope="col">Customer Address</th>
      <th scope="col">IsActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1000</td>
      <td>1001</td>
      <td>1111</td>
      <td>NIRBHAY</td>
      <td>15/11/1988</td>
      <td>MALE</td>
      <td>HASPURA</td>
      <td>True</td>
    </tr>
    
  </tbody>
</table>


